modules = ["python-3.12"]
run = "python dashboard.py"

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk"]

[deployment]
run = ["sh", "-c", "streamlit run --server.address 0.0.0.0 --server.headless true --server.enableCORS=false --server.enableWebsocketCompression=false dashboard.py"]

[[ports]]
localPort = 8501
externalPort = 80

[workflows]
runButton = "Run Dashboard"

[[workflows.workflow]]
name = "Run Dashboard"
author = 35774618
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install -r requirements.txt"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run --server.address 0.0.0.0 --server.headless true --server.enableCORS=false --server.enableWebsocketCompression=false dashboard.py"
